<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>research</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>login.register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>unitapply</servlet-name>
    <servlet-class>login.unitapply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>manager</servlet-name>
    <servlet-class>login.manager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addpro</servlet-name>
    <servlet-class>login.addpro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>edit</servlet-name>
    <servlet-class>login.edit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>unitedit</servlet-name>
    <servlet-class>login.unitedit</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/login.register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>unitapply</servlet-name>
    <url-pattern>/login.unitapply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>manager</servlet-name>
    <url-pattern>/login.manager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addpro</servlet-name>
    <url-pattern>/login.addpro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/login.edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>unitedit</servlet-name>
    <url-pattern>/login.unitedit</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>Filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/filter_manager.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/filter_unitmanage.jsp</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/addpro.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/itdoredit.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/unitedit.jsp</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>